body {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}

/* Custom dat.gui upload component */
.dg .c input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  width: 0px;
}

.dg .c input[type=file] {
  background: #303030;
  outline: none;
  color: #1ed36f;
  border: 0;
  margin-top: 4px;
  width: 100%;
  float: right;
}

#info {
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 3px 3px 3px 3px;
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
}

#info .moves {
  position: absolute;
  bottom: 0;
}

.white-move {
  color: #777;
  margin-left: 10px;
}
